html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent the whole page from scrolling */
  height: 100%;
}

#image-container {
  width: 100%;
  height: 100vh; /* Full window height */
  overflow: hidden; /* Ensure overflow is hidden */
  position: relative;
}

#scrolling-image {
  position: absolute;
  top: 0;
  height: 100%; /* Fit the height of the window */
  left: 0; /* Start at the leftmost side */
}
