body, html {
  margin: 0;
  padding: 0;
  overflow: auto; /* Allow scrolling */
  height: 100%;
}

#image-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#scrolling-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; /* Ensure the image covers the container */
  object-fit: cover; /* Adjust the image to cover the container */
}

#text-input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease;
  width: 200px;
  height: 100px;
  color: aliceblue;
  font-family: sans-serif;
}

#title {
  font-size: 50px; /* Include units for font-size */
}
