:root {
  --color-page-bg: #fbfbfb;
  --color-text-default: #052204;

  --font-family-logo: "Saira Stencil One", sans-serif;
  --font-family-intro: "Montserrat", sans-serif;
  --font-family-nav: "Varela", sans-serif;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 2rem;
  --font-size-xxxl: 3rem;

  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;

  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-xl: 4rem;

  --height-default: 100vh;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-page-bg);
}

main {
  flex-grow: 1;
}

header,
footer,
main>section {
  box-sizing: border-box;
  margin: 0 auto var(--spacing-xl) auto;
  max-width: 1200px;
  width: 1200px;

}

/* Intro on the index page*/

.intro-content-frame {
  position: relative;
  min-height: var(--height-default);
  font-family: var(--font-family-intro);
  left: 50%;
  width: 33vw; /* 1/3 of the window width */
  top: 10vh;
  transform: translateX(-50%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-text-default);
  margin-bottom: 6vh;
}

/* Ensure video fits well */
#looping-video {
  max-width: 80%;
  max-height: 40vh; /* Prevents it from being too large */
}

video {
  -moz-appearance: none;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: transparent !important;
}

.my-intro-01 {
  margin-top: 5vh;
  color: var(--color-text-default);
  font-weight: 600;
  font-size: var(--font-size-xxl);
  letter-spacing: normal;
  text-transform: none;
  width: 100%;
  text-align: center;
  line-height: 1;
}

.my-intro-01:nth-of-type(2) {
  text-align: left;
  padding-left: 1vw;
}

.my-intro-01:nth-of-type(3) {
  text-align: right;
  padding-right: 1vw;
}

.intro-content-frame-02 {
  position: relative;
  margin-top: 5vh;
  bottom: 4vh;
  width: 100%;
  flex-direction: column;
  font-size: var(--font-size-md);
  color: var(--color-text-default);
}

/* Contact icons*/
.social-icons {
  position: relative; 
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1vw; 
  justify-content: center;
  align-items: center;
}

.social-icons img {
  pointer-events: auto;
  z-index: 10;
  position: relative;
  display: inline-block; /* Ensures proper clickable area */
  transition: transform 0.3s ease;
  will-change: transform; /* Optimizes rendering */
  /* transition: transform 0.2s ease-in-out; */
}

.social-icons img:hover {
  transform: scale(1.2); /* Slight zoom effect on hover */
}

/* About page */
.about-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-family-intro);
  margin: 5vw;
  min-height: var(--height-default);
  color: var(--color-text-default);
  gap: 2vw;
}

.about-text {
  position: absolute;
  top: 20vh;
  left: 15vw;
  width: 40%;
  font-size: var(--font-size-md);
}

.about-title {
  font-size: var(--font-size-xxl);
  font-weight: bold;
  text-align: center;
}

.about-image {
  top: 22%;
  position: absolute;
  right: 15vw;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image img {
  top: 20%;
  width: 70%;
  transform: rotate(10deg);
  border-radius: 10px; /* Optional: Makes the image corners rounded */
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2); /* Optional: Adds shadow effect */
}

/* Skills Page */

.page-skills {
  padding-top: 8vh;
  font-family: var(--font-family-intro);
  min-height: var(--height-default);
  align-items: center;
}
.skills-title {
  position: relative;
  font-size: 2vw;
  color: var(--color-text-default);
  font-weight: bold;
  text-align: center;
}

.skills-category {
  position: relative;
  font-size: 1.5vw;
  color: var(--color-text-default);
  font-weight: 400;
  text-align: center;
}

.skills-grid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6vw;
  margin-bottom: 4vh;
}

/* Contact Page */
.contact {
  padding-top: 8vh;
  min-height: 50vh;
  align-items: center;
  margin-bottom: 1vh;
  bottom: 1vh;
}

.contact-title {
  position: relative;
  font-family: "Roboto", serif;
  font-size: 2vw;
  color: var(--color-text-default);
  font-weight: 1000;
  text-align: center;
}

.contact-text {
  position: relative;
  margin-top: 0vh;
  text-align: center;
  width: 100%;
  font-family: "Varela", sans-serif;
  font-size: 1.3vw;
  color: var(--color-text-default);
}

/* 🏃 Smooth Scrolling */
html {
  scroll-behavior: smooth;
}
