:root {
  --color-page-bg: linear-gradient(to right, #020344, #28b8d5);
  --color-text-default: #fff;
  --color-project-bg: #eeeeee;

  --font-family-logo: "Saira Stencil One", sans-serif;
  --font-family-intro: "Montserrat", sans-serif;
  --font-family-nav: "Varela", sans-serif;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 2rem;
  --font-size-xxxl: 3rem;

  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;

  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-xl: 4rem;
  --spacing-xxl: 8rem;

  --height-xs: 1rem;
  --height-sm: 2rem;
  --height-md: 3rem;
  --height-lg: 4rem;
  --height-xl: 6rem;
  --height-video: 20vh;
  --height-project-card: 30vh;
  --height-full: 100vh;
  --height-screen: 100vh; 
  --height-auto: auto;

  --width-xs: 1rem;
  --width-sm: 2rem;
  --width-md: 3rem;
  --width-lg: 4rem;
  --width-xl: 6rem;
  --width-project-card: 40rem;
  --width-project-card-md: 20rem;
}

html {
  font-size: 16px;
  height: 100%;

  @media (max-width: 640px) {
    font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  background: var(--color-page-bg);
}

main {
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--spacing-lg);
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin: auto;
  color: var(--color-text-default);
}

/* header,
footer, */
main>section {
  box-sizing: border-box;
  margin: 0 auto var(--spacing-xl) auto;
  max-width: 1200px;
}

section {
  min-height: var(--height-screen);
} 

html {
  scroll-behavior: smooth;
}
