:root {
  --color-page-bg: #fbfbfb;
  --color-text-default: #052204;

  --font-family-logo: "Saira Stencil One", sans-serif;
  --font-family-intro: "Montserrat", sans-serif;
  --font-family-nav: "Varela", sans-serif;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 2rem;
  --font-size-xxxl: 3rem;

  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;

  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-xl: 4rem;

  --height-xs: 1rem;
  --height-sm: 2rem;
  --height-md: 3rem;
  --height-lg: 4rem;
  --height-xl: 6rem;
  --height-video: 20vh;
  --height-full: 100vh;
  --height-screen: 100vh; 
  --height-auto: auto;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--color-page-bg);
}

main {
  flex-grow: 1;
}

header,
footer,
main>section {
  box-sizing: border-box;
  margin: 0 auto var(--spacing-xl) auto;
  max-width: 1200px;
  width: 1200px;
}

section {
  height: var(--height-screen);
} 


/* Contact Page */
.contact {
  padding-top: 8vh;
  min-height: 50vh;
  align-items: center;
  margin-bottom: 1vh;
  bottom: 1vh;
}

.contact-title {
  position: relative;
  font-family: "Roboto", serif;
  font-size: 2vw;
  color: var(--color-text-default);
  font-weight: 1000;
  text-align: center;
}

.contact-text {
  position: relative;
  margin-top: 0vh;
  text-align: center;
  width: 100%;
  font-family: "Varela", sans-serif;
  font-size: 1.3vw;
  color: var(--color-text-default);
}

/* 🏃 Smooth Scrolling */
html {
  scroll-behavior: smooth;
}
