---
import ContactIcons from "../components/Contact-icons.astro";
const title = "Contact";
---

<style>
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--spacing-xxl);
    font-family: var(--font-family-intro);
    color:color: var(--color-text-default);
  }

  .contact-title {
    position: relative;
    font-size: var(--font-size-xxl);
    color: var(--color-text-default);
    font-weight: bold;
    text-align: center;
  }

  .contact-text {
    position: relative;
    margin-top: 0;
    text-align: center;
    font-size: var(--font-size-md);
    color: var(--color-text-default);
  }
</style>

<div class="contact animate-fade-in" id="contact">
  <p class="contact-title">{title}</p>
  <p class="contact-text">
    Collaboration starts with conversation :)
  </p>
  <ContactIcons />
</div>
