---
import ContactIcons from "../components/contact_icons.astro"; 
const title = "Contact";
---
<div class="contact animate-fade-in" id="contact">
    <p class="contact-title">{title}</p>
    <p class="contact-text">
        Feel free to reach out if you want to work together!
    </p>
    <ContactIcons />
</div>