---
import Sidebar from '../layouts/Sidebar.astro';
import MainContent from '../layouts/MainContent.astro';
import "../styles/global.css";
import '@fontsource-variable/inter';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>YWU</title>
  </head>
  <body>
    <div id="spotlight"></div>
    <main>
      <Sidebar/>
      <MainContent/>
    </main>
  </body>
</html>

<style>
  #spotlight {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 999;

    background: radial-gradient(
    circle 700px at var(--x, 50%) var(--y, 50%),
    rgba(59, 130, 246, .1),
    rgba(59, 130, 246, .06) 35%,
    rgba(59, 130, 246, .04) 55%,
    rgba(59, 130, 246, .02) 70%
  );
    
  }
</style>

<script is:inline>
  const updateSpotlight = (e) => {
    document.documentElement.style.setProperty("--x", `${e.clientX}px`);
    document.documentElement.style.setProperty("--y", `${e.clientY}px`);
  };

  window.addEventListener("mousemove", updateSpotlight);
  window.addEventListener("mouseenter", updateSpotlight);
</script>
