---
import Sidebar from '../layouts/Sidebar.astro';
import MainContent from '../layouts/MainContent.astro';
import "../styles/global.css";
import '@fontsource-variable/inter';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>YWU</title>
  </head>
  <body>
    <main>
      <Sidebar/>
      <MainContent/>
    </main>
  </body>
</html>
