---
import Project from "../components/Project.astro";
---

<style>
  section {
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family-intro);
    color: var(--color-text-default);
  }

  .projects-title {
    font-size: var(--font-size-xxl);
    font-weight: bold;
  }

  @media (max-width: 768px) {
    .projects-title {
      font-size: var(--font-size-lg);
    }
  }
</style>

<section id="projects">
  <div class="projects-title">Projects</div>
  <Project
    projectCategory="Software Dev"
    projectName="ChoreMate: Your Household Tracking App"
    projectPreview="/choremate.png"
    projectLink="https://github.com/yixuanwu4/ChoreMate"
  />
  <Project
    projectCategory="Gallery"
    projectName="Loading Animation Gallery: \n A Growing Collection of Simple, Creative Loading Animations"
    projectPreview="/gifs/heartbeat.gif;/gifs/pulsing-dot.gif;/gifs/spinner-01.gif;/gifs/wave-bar.gif"
    projectLink="https://github.com/yixuanwu4/loading-animations-gallery"
  />
  <Project
    projectCategory="Web Dev"
    projectName="Quassel Website: A Tailored Landing Page for Project Quassel"
    projectPreview="/quassel.png"
    projectLink="https://www.quassel.ch/"
  />
</section>
