---
import Project from "../components/Project.astro";
---

<style>
  section {
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family-intro);
    color: var(--color-text-default);
  }

  .projects-title {
    font-size: var(--font-size-xxl);
    font-weight: bold;
  }
</style>

<section id="projects">
  <div class="projects-title">Projects</div>
  <Project
    projectCategory="Software Dev"
    projectName="ChoreMate: Your Household Tracking App"
    projectPreview="public/choremate.png"
    projectLink="https://github.com/yixuanwu4/ChoreMate"
  />
  <Project
    projectCategory="Gallery"
    projectName="Loading Animation Gallery: \n A Growing Collection of Simple, Creative Loading Animations"
    projectPreview="public/gifs/heartbeat.gif;public/gifs/pulsing-dot.gif;public/gifs/spinner-01.gif;public/gifs/wave-bar.gif"
    projectLink="https://github.com/yixuanwu4/loading-animations-gallery"
  />
  <Project
    projectCategory="Web Dev"
    projectName="Quassel Website: A Tailored Landing Page for Project Quassel"
    projectPreview="public/quassel.png"
    projectLink="https://www.quassel.ch/"
  />
</section>
