---
import TopRight from "~icons/mdi/arrow-top-right";

interface Props {
  title: string;
  description: string;
  link?: string;
  tags?: Array<string>;
}

const { title, description, link, tags = [] } = Astro.props;
---
<div class="cardContent">
    <a href={link} class="contentTitle">
      {title}
      <TopRight />
    </a>
    <p> {description}</p>
    {
      tags && tags.length > 0 && (
        <div class="tags">
          <ul>
            {tags.map(skill => <li>{skill}</li>)}
          </ul>
        </div>
      )
    }
</div>

<style>
  .contentTitle {
    font-size: var(--font-size-md);
    text-decoration: none;
    color: var(--content-title-color, var(--color-text-default));
    display: inline-flex;
    align-items: center; 
    transition: color 0.3s ease, transform 0.3s ease; 
  }
  .cardContent svg {
    width: var(--font-size-sm);
    height: var(--font-size-sm);
    margin-left: var(--spacing-xs);
  }
  .cardContent p {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-light);
    line-height: 1.5;
    word-break: break-word;
  }
  .tags ul {
    display: flex;
    gap: var(--spacing-sm);
    padding: 0;
    list-style-type: none;
    margin-bottom: 0;
  }
  .tags li {
    font-size: var(--font-size-xs);
    color: var(--color-text-bubble);
    background-color:rgba(237, 253, 252, 0.2);
    padding: var(--spacing-xs) var(--spacing-sm);
    border-radius: 20px;
    margin: 0;
  }
</style>