---

---

<style>
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--spacing-sm) 0;
    gap: var(--spacing-lg);
  }

  .social-icons a {
    text-decoration: none;
  }

  .animate-icon {
    transition: transform 0.3s ease;
  }

  .animate-icon:hover {
    transform: scale(1.5);
  }
</style>

<div class="social-icons">
  <a href="https://github.com/yixuanwu4" target="_blank" class="animate-icon">
    <img src="/contact_icons/github.svg" alt="GitHub" />
  </a>
  <a
    href="https://www.instagram.com/jinnnng4/"
    target="_blank"
    class="animate-icon"
  >
    <img src="/contact_icons/instagram.svg" alt="Instagram" />
  </a>
  <a href="mailto:y@ixuan.com" class="animate-icon">
    <img src="/contact_icons/email.svg" alt="Email" ¨ />
  </a>
  <a href="weixin://dl/chat?{zxoys14}" class="animate-icon">
    <img src="/contact_icons/wechat.svg" alt="WeChat" />
  </a>
  <a
    href="https://www.linkedin.com/in/yixuan-wu-/"
    target="_blank"
    class="animate-icon"
  >
    <img src="/contact_icons/linkedin.svg" alt="LinkedIn" />
  </a>
</div>
