---
import GithubIcon from "~icons/mdi/github";
import EmailIcon from "~icons/mdi/alternate-email";
import LinkedinIcon from "~icons/mdi/linkedin";
---
<div>
  <a href="mailto:y+website@ixuan.ch">
    <EmailIcon />
  </a>
  <a href="https://github.com/yixuanwu4">
    <GithubIcon />
  </a>
  <a href="https://www.linkedin.com/in/yixuan-wu-/">
    <LinkedinIcon />
  </a>
</div>