---

---
<style>
    @import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');

    .main-logo {
        font-family: 'Saira Stencil One', sans-serif;
        font-weight: normal;
        font-size: 4vh;
        color: black;
        text-transform: uppercase;
        position: fixed;
        top: 2vh;
        left: 10vw;
        transform: translateX(-50%);
        z-index: 1000;
        text-decoration: none;
    }
</style>

<a class="main-logo" href = "/">YWU</a>