---
---
<div class="sidebar navigation">
  <a>
    About me
  </a>
  <a>
    Projects
  </a>
  <a>
    Blogs
  </a>
</div>

<style>
  .navigation {
    display: flex;
    flex-direction: column;
  }
</style>