---
---
<div class="sidebar profile">
  <a class="name">
    <h1>Yixuan Wu</h1>
  </a>
  <div class="title">
    Software Developer
  </div>
  <p class="text">
    I craft websites and apps with a focus on user experience.
  </p>
</div>

<style>
  .name h1 {
    font-size: 48px;
    margin-block: 0;
  }
  .title {
    font-size: var(--font-size-lg);
    margin-block: var(--spacing-sm);
  }
  .text {
    font-size: var(--font-size-md);
    margin-block: var(--spacing-md);
    opacity: 0.8;
    width: 60%;
    text-wrap: wrap;
  }
</style>