---
interface Props {
  projectCategory: string;
  projectName: string;
  projectPreview: string;
  projectLink: string;
}

const { projectCategory, projectName, projectPreview, projectLink } =
  Astro.props;

const isMultiple = projectPreview.includes(";");
const previewList = isMultiple
  ? projectPreview
      .split(";")
      .map((src) => src.trim())
      .filter(Boolean)
  : [projectPreview];
---

<style>
  .project {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    max-width: var(--width-project-card);
    margin: var(--spacing-sm);
    background-color: var(--color-project-bg);
    border-radius: var(--spacing-md);
    padding: var(--spacing-lg);
  }

  .category {
    height: var(--height-xs);
    font-size: var(--font-size-xs);
    text-align: left;
    /* margin: var(--spacing-md); */
  }

  .project-name {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    min-height: var(--height-lg);
    width: 100%;
    /* font-weight: var(--font-weight-medium); */
    /* border-bottom: 1px solid #ccc; */
  }

  .project-name a {
    display: block;
    text-decoration: none;
    font-size: var(--font-size-lg);
    color: var(--color-text-default);
    width: 100%;
    overflow-wrap: break-word;
    word-break: break-word;
    margin-top: var(--spacing-md);
    margin-inline: var(--spacing-md);
  }
  .project-name a:hover{
    color: #48a860;
  }

  .preview {
    flex: 1;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    width: 80%;
  }


  .projectPreview {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

  .projectPreview.multiple {
    margin-top: 20px;
    max-height: var(--height-xl);
    max-width: auto;
    margin-inline: 4px;
  }

  @media (max-width: 768px) {
    .project-name a {
      display: block;
      text-decoration: none;
      font-size: var(--font-size-md);
      color: var(--color-text-default);
      width: 100%;
      overflow-wrap: break-word;
      word-break: break-word;
      margin-top: var(--spacing-md);
      margin-inline: var(--spacing-md);
    }

    .projectPreview.multiple {
      margin-top: 20px;
      max-height: var(--height-md);
      max-width: auto;
      margin-inline: 4px;
    }
  }

  @media (max-width: 480px) {
    .project-name a {
      font-size: var(--font-size-sm);
      margin-inline: 0;
    }

    .projectPreview {
      margin-block: var(--spacing-md);
    }

    .projectPreview.multiple {
      margin-top: var(--spacing-md);
      max-height: var(--height-md);
      max-width: auto;
      margin-inline: 4px;
    }
    
    .project {
      padding: var(--spacing-md);
      min-width: 80%;
    }

    .project-name {
      min-height: var(--height-lg);
    }
</style>

<div class="project">
  <div class="category">{projectCategory}</div>
  <div class="project-name">
    <a href={projectLink} class="projectName">{projectName}</a>
  </div>
  <div class="preview">
    {
      previewList.map((src, index) => (
        <img class=`projectPreview ${isMultiple ? 'multiple' : ''}` src={src} alt={`Preview ${index + 1}`} />
      ))
    }
  </div>
</div>
