---
export interface SkillProps {
  name: string;
  icon: string;
}

const { name, icon } = Astro.props;
---

<style>
  @media (max-width: 768px) {
    img {
      height: var(--height-sm);
      width: auto;
    }
  }
</style>
<div class="skill">
  <img src={icon} alt={name} class="skill-icon" />
  <p class="skill-name">{name}</p>
</div>
