---
export interface SkillProps {
  name: string;
  icon: string;
}

const { name, icon } = Astro.props;
---
<div class="skill">
  <img src={icon} alt={name} class="skill-icon" />
  <p class="skill-name">{name}</p>
</div>
