---
---
<section class="about" id="about">
  <p>
    As a developer passionate about crafting visually appealing and user-friendly web experiences, I enjoy the full creative process - from designing intuitive UI/UX to bringing those designs to life with clean, functional code.
  </p>
  
  <p>
    My background in <span class="highlight">Natural Language Processing</span> and <span class="highlight">Machine Learning</span> has equipped me with a strong analytical foundation. Over time, I discovered that my true interest lies in <span class="highlight">software development</span> and <span class="highlight">front-end engineering</span>, which led me to pursue a freelance career where I can focus on building engaging digital products.
  </p>
  

  <p>
    Having grown up in China, I pursued further studies in the UK and Germany, experiences which have shaped my professional approach and personal worldview. I now live and work in Zurich, Switzerland, where I draw inspiration from the multicultural environment.
  </p>

  <p>
    When I'm not coding, you'll find me sketching, playing the piano, keeping active by playing various sports or catching Pokémon all around the world :)
  </p>
</section>

<style>
  .about {
    padding: var(--spacing-xxl) var(--spacing-md) 0;
  }

  .about p {
    font-size: var(--font-size-md);
    line-height: 1.5;
    color: var(--color-text-para);
    font-weight: var(--font-weight-light);
  }

  .about p:first-child {
    margin-top: 0;
  }

  .highlight {
    color: var(--color-text-default);
    font-weight: var(--font-weight-normal);
  }
</style>