---
import DisplayCard from "../components/DisplayCard.astro";
---
<section class="experience" id="experience">
  <DisplayCard
  displayName = "Web Development at openscript GmbH (Switzerland)";
  displayTime = "APR 2024 - SEP 2024";
  displayLink = "https://www.quassel.ch/";
  displayIntro = "I designed and built the official website for Quassel as a project-based frontend developer. Using Astro, a component-based framework, I created a fast, responsive, and accessible site that clearly presents the software's key functionality and value. The website was built with integrated HTML, CSS, and JavaScript inside Astro components. I collaborated closely with the team to understand the needs and translated them into a clean, modern UI."
  displaySkills = {["Astro"]} />
  <DisplayCard
  displayName = "eDiscovery & Data Management at Deloitte (Switzerland)";
  displayTime = "APR 2024 - SEP 2024";
  displayIntro = "I was involved in several projects and participated in processing digital evidence (Outlook emails, Teams chat conversations, loose files, etc.), which allowed me to gained experience in tackling unstructured or corrupted raw data using Python and SQL. After noticing the redundancy in the decommissioning tasks of legacy projects, I developed a programme to automate the workflow, greatly reducing manual eﬀort and saving time. Additionally, I have also worked with PowerBI, Brainspace and GenAI technology."
  displaySkills = {["Relativity", "Python", "SQL"]} />
  <DisplayCard
  displayName = "Software development at Cytolytics GmbH (Germany)";
  displayTime = "MAR 2021 - AUG 2021";
  displayIntro = "I carried out an unsupervised NLP project, the aim of which was to group the similar human immune cells according to their marker sets, so when unseen cells are fed into the model, the new cells can be correctly clustered with the known cells that share similar markers, thus making the properties of the new cells more intuitive by observing the known cells in the same group."
  displaySkills = {["Scikit-learn", "NLTK", "Matplotlib"]} />
  <DisplayCard
  displayName = "Master in Computational Linguistics at University of Tübingen (Germany)";
  displayTime = "SEP 2019 - JUN 2023";
  displayIntro = "Grade: 1.27 (Sehr gut)"
  displaySkills = {["Java", "Python", "NLP", "Machine Learning", "MySQL"]} />
  <DisplayCard
  displayName = "Master in Psycholinguistics at University of York (UK)";
  displayTime = "SEP 2018 - AUG 2019";
  displayIntro = "Grade: 62 (Merit)"
  displaySkills = {["LaTeX", "R"]} />
</section>