---

---

<style>
  header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 100;
    backdrop-filter: blur(1px);
    background-color: transparent;
    background-image: linear-gradient(
      to bottom,
      var(--color-page-bg) 80%,
      transparent
    );
  }

  .header {
    display: flex;
    color: var(--color-text-default);
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: var(--spacing-lg);
    gap: var(--spacing-xl);
    padding: 0;
  }

  .logo {
    text-decoration: none;
    color: var(--color-text-default);
    font-family: var(--font-family-logo);
    font-size: var(--font-size-xxxl);
  }

  nav {
    display: flex;
    align-items: center;
  }

  nav ul {
    display: flex;
    align-items: center;
    gap: var(--spacing-lg);
  }

  nav li {
    align-items: right;
    list-style: none;
  }

  li a {
    display: flex;
    font-weight: var(--font-weight-semi-bold);
    text-decoration: none;
    color: var(--color-text-default);
    font-family: var(--font-family-nav);
    font-size: var(--font-size-lg);
  }

  .menu-toggle {
    display: none;
    font-size: var(--font-size-lg);
    background: none;
    color: var(--color-text-default);
    cursor: pointer;
  }

  @media (max-width: 768px) {
    .header {
      margin: var(--spacing-md);
      padding: var(--spacing-xs);
    }

    .logo {
      font-size: var(--font-size-xl);
    }

    .menu-toggle {
      display: flex;
      margin-right: 1px;
    }

    nav {
      position: relative;
    }

    .nav-list {
      display: none !important;
      position: absolute;
      top: 100%;
      right: 0;
      background-color: var(--color-page-bg);
      padding: 1rem;
      flex-direction: column;
      align-items: flex-end;
      gap: 0.5rem;
    }

    .nav-list.show {
      display: flex !important;
    }

    .menu-toggle.open::after {
      content: "✕";
    }

    .menu-toggle::after {
      content: "☰";
    }

    .menu-toggle {
      position: relative;
      background: none;
      border: none;
      color: var(--color-text-default);
      cursor: pointer;
      display: block;
    }

    li a {
      font-size: var(--font-size-sm);
    }

    .menu-toggle span {
      visibility: hidden;
    }
  }
</style>
<script src="../scripts/toggle.js"></script>
<header>
  <div class="header">
    <a href="https://y.ixuan.ch/" class="logo">YWU</a>
    <nav>
      <button class="menu-toggle" aria-label="Toggle menu"></button>
      <ul class="nav-list">
        <li>
          <a href="#about">About</a>
        </li>
        <li>
          <a href="#skills">Skills</a>
        </li>
        <li>
          <a href="#projects">Projects</a>
        </li>
        <li>
          <a href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
