---
import ProjectCard from "../components/ProjectCard.astro";
---
<section class="projects">
  <ProjectCard 
  contentTitle = "Lisa Greber Online Shop";
  contentImg = "public/lisagreber.png";
  contentIntro = "Built and customized a Shopify store for artists, blending tailored design with backend management to enhance customer experience and drive sales."
  contentLink = "https://lisagreber.ch/";
  tags = {["Liquid", "HTML", "CSS", "JavaScript"]} />
  <ProjectCard 
  contentTitle = "Quassel";
  contentImg = "public/quassel.png";
  contentIntro = "Landing page for project Quassel - a platform to collect children's language exposure data for University research."
  contentLink = "https://www.quassel.ch/";
  tags = {["Astro", "JavaScript"]} />
  <ProjectCard 
  contentTitle = "Loading Animation Gallery";
  contentImg = "public/gifs/heartbeat.gif";
  contentIntro = "A growing collection of simple, creative loading animations built with HTML and CSS only."
  contentLink = "https://github.com/yixuanwu4/loading-animations-gallery";
  tags = {["HTML", "CSS"]} />
</section>