---
import About from "../sections/About.astro";
import Experience from "../sections/Experience.astro";
import Project from "../sections/Projects.astro";
---
<div class="mainContent">
  <About />
  <Experience />
  <Project />
</div>


<style>
  .mainContent {
    flex: 1;
    min-width: 0;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--spacing-xxl);
    scrollbar-width: none;
  }
</style>

<script>

  const mainContent = document.querySelector(".mainContent");
  
  if (window.matchMedia("(min-width: 1025px").matches && mainContent){
    window.addEventListener(
      "wheel",
      (e) => {
        e.preventDefault();
        mainContent.scrollTop += e.deltaY;
      },
      {passive: false}
    );
  }

</script>
