---
import About from "../sections/About.astro";
import Experience from "../sections/Experience.astro";
import Project from "../sections/Projects.astro";
---
<div class="mainContent">
  <About />
  <Experience />
  <Project />
</div>


<style>
  .mainContent {
    flex: 1;
    min-width: 0;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--spacing-xxl);
    scrollbar-width: none;
  }
</style>

<script>

  const mainContent = document.querySelector(".mainContent");
  const mediaQuery = window.matchMedia("(min-width: 1025px)");

  function enableDesktopScroll() {
    if (!mainContent) return;

    window.addEventListener(
      "wheel",
      desktopWheelHandler,
      { passive: false }
    );
  }

  function disableDesktopScroll() {
    window.removeEventListener("wheel", desktopWheelHandler);
  }

  function desktopWheelHandler(e) {
    e.preventDefault();
    mainContent.scrollTop += e.deltaY;
  }

  if (mediaQuery.matches) {
    enableDesktopScroll();
  }

  mediaQuery.addEventListener("change", (e) => {
    if (e.matches) {
      enableDesktopScroll();
    } else {
      disableDesktopScroll();
    }
  });

</script>
