---
import About from "../sections/About.astro";
import Experience from "../sections/Experience.astro";
import Project from "../sections/Projects.astro";
---
<div class="mainContent">
  <About />
  <Experience />
  <Project />
</div>


<style>
  .mainContent {
    flex: 1;
    min-width: 0;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--spacing-xxl);
  }
</style>